@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600&display=swap');

.App {
  text-align: center;
  font-family: 'Archivo', sans-serif;
}

main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}

.two-choices-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

button {
  width: 180px;
  height: 50px;
  border-radius: 12px;
  background-color: rgba(221, 217, 219);
  border: none;
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
}

button:hover {
  background-color:  rgba(221, 217, 219, 0.36);
  color: white;
}

.yes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border: 15px solid rgba(221, 217, 219, 0.36);
  border-radius: 50%;
}

.no-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border: 15px solid rgba(221, 217, 219, 0.36);
  border-radius: 50%;
}

.more-choices-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.gradient-background-1 {
  background: linear-gradient(-45deg, #19cfc5,#18a3a0,#4bdaf3,#4b8ff3,#4b63f3);
  background-size: 400% 400%;
  animation: GradientAnimation 10s ease infinite;
}

.gradient-background-2 {
  background: linear-gradient(-45deg, #974bf3,#c94bf3,#b04bf3,#693ad6,#9433c2);
  background-size: 400% 400%;
  animation: GradientAnimation 10s ease infinite;
}

@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}